<!-- <div class="view-container" user=<%= req.session.User.id %> student=<%=req.session.User.student%> > -->
<div class="view-container" user=<%= req.session.User.id %> student=<%=studId%> >
	<div class="view list-view">
    <!--h1>
    </h1-->
		<ul class="kursliste nav nav-stacked">
			<% _.each(kurse, function(kurs) { %>
				<li class="kursItem" ident="<%= kurs.id %>" role="presentation">

					<a href="#">
						<%= kurs.titel %>
						<span class="badge"> 9 / 12 </span>
					</a>
				</li>
			<% }) %>
		</ul>
	</div>

	<div class="view details-view">


		<nav id="side-nav" class="navbar navbar-default" role="navigation">
			<ul class="nav nav-pills nav-stacked">
        <!--
  			<li role="presentation" class="active"><a href="#">Satz 1</a></li>
  			<li role="presentation"><a href="">Satz 2</a></li>
  			<li role="presentation"><a href="#">Satz 3</a></li>
  			<li role="presentation"><button class="back-button">Back</button></li>
      -->
			</ul>
      <button class="back-button">Back</button>
		</nav>





		<div class="grid-menu">
			<div class="row">

      	<div class="col-xs-6 col-sm-4 thumbnail" win="a">
      		<h3><span class="label label-primary">Folien</span></h3>
      		<span class="glyphicon glyphicon-th-large" aria-hidden="true"/>
      	</div>

      	<div class="col-xs-6 col-sm-4 thumbnail" win="b">
      		  <h3><span class="label label-danger">Video</span></h3>
      		  <span class="glyphicon glyphicon-film" aria-hidden="true"/>
        </div>

      	<div class="col-xs-6 col-sm-4 thumbnail" win="c">
      		<h3><span class="label label-success">Quiz</span></h3>
      		<span class="glyphicon glyphicon-check" aria-hidden="true"/>
      	</div>

      	<div class="col-xs-6 col-sm-4 thumbnail" win="d">
      		<h3><span class="label label-info">Fragen Antworten Chat</span></h3>
      		<span class="glyphicon glyphicon-comment" aria-hidden="true"/>
      	</div>

      	<div class="col-xs-6 col-sm-4 thumbnail" win="e">
      		<h3><span class="label label-warning">Material</span></h3>
      		<span class="glyphicon glyphicon-book" aria-hidden="true"/>
      		</div>

      	<div class="col-xs-6 col-sm-4 thumbnail" win="f">
      		<h3><span class="label label-default">Info</span></h3>
      		<span class="glyphicon glyphicon-info-sign" aria-hidden="true"/>
      	</div>

    	</div>
		</div>


    <!-- old fullscreen position -->

	</div>

  <div id="fullscreen">

      <!--div id="fullscreen-header" class="myHidden">
        <div class="col-xs-12 col-sm-6">

          <select id="vorlesungSelect">
          </select>
        </div>


        <div class="col-xs-12 col-sm-6">
          <select id="sectionSelect">

          </select>
        </div>
      </div-->


      <div id="fullscreen-content" class="myHidden">
      </div>

    <span id="close-fullscreen" class="glyphicon glyphicon-resize-small" aria-hidden="true"/>

  </div>

</div>

